<div class="col-lg-4 col-sm-6 mb-4">
  <!-- Portfolio Item-->
  <div class="portfolio-item position-relative">
    <a class="portfolio-link" data-bs-toggle="modal" href="#project-<%= project.id %>">
      <div class="portfolio-hover">
        <div class="portfolio-hover-content"><i class="fas fa-pen fa-2x"></i></div>
      </div>
      <img class="img-fluid" src="<%= project.photo %>" alt="<%= project.title %>" onerror="this.src='/assets/img/portfolio/default.jpg'" />
    </a>
    <!-- Details Button -->
    <a data-bs-toggle="modal" href="#portfolio-<%= project.id %>" class="position-absolute top-0 end-0 m-3 text-secondary">
      <i class="fas fa-search fa-2x"></i>
    </a>
    <div class="portfolio-caption">
      <!-- Project Title -->
      <div class="portfolio-caption-heading"><%= project.title %></div>
      <!-- Project Category -->
      <div class="portfolio-caption-subheading text-muted"><%= project.category %></div>
    </div>
  </div>
</div>

<!-- Edit Modal-->
<div class="portfolio-modal modal fade" id="project-<%= project.id %>" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-bs-dismiss="modal"><img src="/assets/img/close-icon.svg" alt="Close modal" /></div>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <div class="modal-body">
              <h2 class="text-uppercase">Update The Project</h2>
              <p class="item-intro text-muted">You can edit or remove the project</p>
              <!-- Project details-->
              <form method="POST" action="/project/<%= project.id %>?_method=PUT" enctype="multipart/form-data">
                <!-- Title-->
                <div class="form-group mb-4 text-start">
                  <label class="form-label ps-1 fw-bold fs-5 ps-1 fw-bold fs-5">Project Title</label>
                  <input class="form-control" name="title" type="text" placeholder="Project Title *" autocomplete="off" value="<%= project.title %>" required />
                </div>
                <!-- Brief-->
                <div class="form-group mb-4 text-start">
                  <label class="form-label ps-1 fw-bold fs-5">Project Brief</label>
                  <input class="form-control" name="brief" type="text" placeholder="Project Brief" autocomplete="off" value="<%= project.brief %>" />
                </div>
                <!-- Description -->
                <div class="form-group mb-4 text-start">
                  <label class="form-label ps-1 fw-bold fs-5">Project Description</label>
                  <textarea class="form-control" name="description" rows="4" placeholder="Project Description" autocomplete="off" data-sb-validations="required" style="resize: none;"><%= project.description %></textarea>
                </div>
                <!-- Client -->
                <div class="form-group mb-4 text-start">
                  <label class="form-label ps-1 fw-bold fs-5">Project Client</label>
                  <input class="form-control" name="client" type="text" placeholder="Client" autocomplete="off" value="<%= project.client %>" />

                </div>
                <!-- Category -->
                <div class="form-group mb-4 text-start">
                  <label class="form-label ps-1 fw-bold fs-5">Project Category</label>
                  <input class="form-control" name="category" type="text" placeholder="Category" autocomplete="off" value="<%= project.category %>" />
                </div>
                <!-- Photo -->
                <div class="form-group mb-4 text-start">
                  <label class="form-label ps-1 fw-bold fs-5">Project Photo</label>
                  <input class="form-control" name="image" type="file" placeholder="Photo" />
                </div>
                <button class="btn btn-success text-uppercase mt-4" type="submit">
                  Update Project
                </button>
              </form>
              <form class="mt-4" method="POST" action="/project/<%= project.id %>?_method=DELETE">
                <button class="btn btn-danger text-uppercase" onclick="return confirm('The project will be permanently removed from your portfolio, are you sure?')" type="submit">
                  Delete Project
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Portfolio Modal-->
<div class="portfolio-modal modal fade" id="portfolio-<%= project.id %>" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-bs-dismiss="modal"><img src="/assets/img/close-icon.svg" alt="Close modal" /></div>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <div class="modal-body">
              <!-- Project details-->
              <h2 class="text-uppercase"><%= project.title %></h2>
              <p class="item-intro text-muted"><%= project.brief %></p>
              <img class="img-fluid d-block mx-auto" src="<%= project.photo %>" alt="<%= project.title %>" onerror="this.src='/assets/img/portfolio/default.jpg'" />
              <p><%= project.description %></p>
              <ul class="list-inline">
                <li>
                  <strong>Client:</strong>
                  <%= project.client %>
                </li>
                <li>
                  <strong>Category:</strong>
                  <%= project.category %>
                </li>
              </ul>
              <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                <i class="fas fa-xmark me-1"></i>
                Close Project
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>