<div class="col-lg-4 col-sm-6 mb-4">
  <!-- Portfolio Item-->
  <div class="portfolio-item">
    <a class="portfolio-link" data-bs-toggle="modal" href="#<%= project.id %>">
      <div class="portfolio-hover">
        <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
      </div>
      <img class="img-fluid" src="<%= project.photo %>" alt="..." />
    </a>
    <div class="portfolio-caption">
      <!-- Project Title -->
      <div class="portfolio-caption-heading"><%= project.title %></div>
      <!-- Project Category -->
      <div class="portfolio-caption-subheading text-muted"><%= project.category %></div>
    </div>
  </div>
</div>

<!-- Portfolio Modal-->
<div class="portfolio-modal modal fade" id="<%= project.id %>" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-bs-dismiss="modal"><img src="/assets/img/close-icon.svg" alt="Close modal" /></div>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <div class="modal-body">
              <!-- Project details-->
              <h2 class="text-uppercase"><%= project.title %></h2>
              <p class="item-intro text-muted"><%= project.brief %></p>
              <img class="img-fluid d-block mx-auto" src="<%= project.photo %>" alt="..." />
              <p><%= project.description %></p>
              <ul class="list-inline">
                <li>
                  <strong>Client:</strong>
                  <%= project.client %>
                </li>
                <li>
                  <strong>Category:</strong>
                  <%= project.category %>
                </li>
              </ul>
              <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                <i class="fas fa-xmark me-1"></i>
                Close Project
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>