<!-- Header -->
<%- include('partials/_header') %>

<!-- Navigation -->
<%- include('partials/_navigation') %>

<!-- Toasts -->
<%- include('components/toast_message') %>

<section class="page-section min-vh-100 d-flex align-items-center" id="register">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">Create A User</h2>
      <h3 class="section-subheading text-muted">No users were found, please create one.</h3>
    </div>
    <!-- Register Form -->
    <form class="mt-5" id="registerForm" method="POST" action="/auth/register">
      <div class="row align-items-stretch mb-3">
        <div class="col-md-4 offset-md-4">
          <div class="form-group mb-4">
            <!-- Username input-->
            <input class="form-control py-2" name="username" type="text" placeholder="Username *" data-sb-validations="required" />
            <div class="invalid-feedback" data-sb-feedback="username:required">Enter a username</div>
          </div>
          <div class="form-group mb-4">
            <!-- Password input-->
            <input class="form-control  py-2" name="password" type="password" placeholder="Password *" data-sb-validations="required" />
            <div class="invalid-feedback" data-sb-feedback="password:required">Enter a strong password</div>
          </div>
          <div class="form-group mb-4">
            <!-- Password confirmation input-->
            <input class="form-control  py-2" name="password_confirm" type="password" placeholder="Confirm Password *" data-sb-validations="required" />
            <div class="invalid-feedback" data-sb-feedback="password:required">Confirm password</div>
          </div>
        </div>
      </div>
      <!-- Submit success message-->
      <!---->
      <!-- This is what your users will see when the form-->
      <!-- has successfully submitted-->
      <div class="" id="submitSuccessMessage">
        <div class="text-center text-white mb-3">

        </div>
      </div>
      <!-- Submit error message-->
      <!---->
      <!-- This is what your users will see when there is-->
      <!-- an error submitting the form-->
      <div class="" id="submitErrorMessage">
        <% if(flashMessages?.errors){%>
        <% flashMessages.errors.forEach(error => {%>
        <div class="text-center text-danger mb-3"><%= error %></div>
        <% }); %>

        <%}%>
        
      </div>
      <!-- Submit Button-->
      <div class="text-center"><button class="btn btn-primary btn-xl text-uppercase" id="submitButton" type="submit">Submit</button></div>
    </form>

  </div>
</section>



<!-- Footer -->
<%- include('partials/_footer') %>
        <script>
          document.querySelector("html").style.minHeight = "100vh";
          document.getElementById("mainNav").style.backgroundColor = "#212529";
          document.querySelector("footer").classList.add("fixed-bottom");
        </script>